
# Mac file
.DS_Store

# Log file
*.log

# Code coverage files
.coverage

# Gradle files
.gradle

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Don't ignore test fixture zip files
!tests/resources/java/application/daytrader8-1.2.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

scratch*
*.flake8
.vscode
.idea/
*.iml

# environment file
.env

# log file
*.json
!devcontainer.json


# Python compiled files and env
__pycache__/
*.py[cod]
.python-version
.venv/

# Build files
dist/
