[tool.poetry]
name = "cldk"
version = "0.1.1"
description = "codellm-devkit: A python library for seamless interation with LLMs."
authors = ["Rahul Krishna <i.m.ralk@gmail.com>", "Rangeet Pan <rangeet.pan@ibm.com>", "Saurabh Sinhas <sinhas@us.ibm.com>",
            "Raju Pavuluri <pavuluri@us.ibm.com>"]
license = "Apache 2.0"
readme = "README.md"
include = ["cldk/analysis/java/codeanalyzer/jar/*.jar"]

[tool.poetry.dependencies]
python = ">=3.11"
pydantic = "^2.6.1"
pandas = "^2.2.0"
networkx = "^3.2.1"
pyarrow = "^15.0.0"
tree-sitter-languages = "^1.10.2"
tree-sitter = "^0.22.3"
rich = "^13.7.1"
wget = "^3.2"
requests = "^2.31.0"
tree-sitter-java = "^0.21.0"
tree-sitter-c = "^0.21.0"
tree-sitter-go = "^0.21.0"
ipdb = "^0.13.13"
tree-sitter-python = {git = "https://github.com/tree-sitter/tree-sitter-python", rev = "0f9047c"}
tree-sitter-javascript = "^0.21.0"
# Test dependencies

[tool.poetry.group.dev.dependencies]
toml = "^0.10.2"
pytest = "^7.4.3"
jupyter = "^1.0.0"

# Documentation
mkdocs = "1.6.0"
mkdocstrings = "0.25.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 180

[tool.cldk.testing]
sample-application = "tests/resources/java/application/"
sample-application-analysis-json = "tests/resources/java/analysis_db"
codeanalyzer-jar-path = "tests/resources/java/codeanalyzer/build/libs/"
